<div class="dashboard">
  <div class="card-header">

    <h1>My Purchased Tracks</h1>
      <div class="card-actions">
        <button (click)="logout()">logout</button>
        <button (click)="createTicket()">create ticket</button>
      </div>
    </div>

   
    @if (allTracks$ | async; as tracks) {
      @if (tracks.length > 0) {
        <table>
          <thead>
            <tr>
              <th>Track</th>
              <th>Artist</th>
              <th>Album</th>
            </tr>
          </thead>
          <tbody>
            @for (track of tracks; track $index) {
              <tr>
                <td>{{ track.track }}</td>
                <td>{{ track.artist }}</td>
                <td>{{ track.albums }}</td>
              </tr>
            }
          </tbody>
        </table>
      } @else {
        <p class="empty-message">Please purchase tracks to view them here.</p>
      }
    } @else {
      <p class="loading-message">Loading...</p>
    }
  <!-- </div> -->

  @if(showCreateTicketModal) {
    <div class="modal-backdrop" (click)="closeTicketModal()"></div>
    <div class="modal-box" role="dialog">
      <h2>Create Ticket</h2>
      <!-- <form (ngSubmit)="onSubmitTicket()" #ticketForm="ngForm"> -->
        @if(submitTriggerResult$ | async) {}
      <form (ngSubmit)="onSubmitTicket()" #ticketForm="ngForm">
        <label>Subject</label>
        <input type="text" name="subject" [(ngModel)]="ticketSubject" required />
        <label>Issue</label> 
        <textarea type="text" name="body" [(ngModel)]="ticketBody" required></textarea> 
        <div class="modal-action">
          <button type="button" (click)="closeTicketModal()">Cancel</button>
          <button type="submit" [disabled]="ticketForm.invalid">Submit</button>
        </div>

        </form>


    </div>

  }


</div>
